html {

    font-size: 16px;
}

.title {
    font-size: 2rem;
}

.art-frame-wrapper-mini {
    position: relative;
    /* max-width: 130px;*/
    width: 157px;
    /*    height: 70px;*/
    height: 86px;
    flex-shrink: 0;
    transition: width 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    will-change: width;
}

#moduleList {
    max-width: 1048px;
}

#block-progress {
    max-width: 512px;
    height: 382px;
}

.module-item.is-expanded .art-frame-wrapper-mini {
    width: 175px;
    height: 100px;
    padding-bottom: 5px;
}

.frame-overlay-mini {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    pointer-events: none;
}

.module-image-inner-mini {
    position: absolute;
    top: 8%;
    left: 8%;
    right: 8%;
    bottom: 8%;
    z-index: 1;
    overflow: hidden;
    /*   background-color: #eee;*/
}

.arrow-icon {
    transition: transform 0.3s ease;
    color: #8588D1;
}

.module-item {
    transition: all 0.2s ease;
    border-bottom: 2px solid #9799C4;
}

/* .module-item:hover:not(.locked) {
     box-shadow: 0 4px 12px rgba(0,0,0,0.1) !important;
 }*/

/*.module-description {
    border-left: 3px solid #8588D1;  Твій акцентний колір 
    padding-left: 15px;
    font-style: italic;
}*/

.text-desc {
    /* font-family: "Gilroy";*/
    font-family: "Gilroy Light", "Gilroy", sans-serif;
    /*font-size: 15px;*/
    color: #494C90;
    /* line-height: 18px;*/
    font-size: 1.2rem;
    line-height: 1.1;
    width: 75%;
    font-weight: 300;
    padding-bottom: 8px;
}

.module-description {
    border-bottom: 2px solid #9799C4;
    padding-top: 0px;

}

/*.list-group-item {
    transition: background-color 0.2s;
}*/


.module-item.locked .list-group-item {
    opacity: 0.7;
}


.btn-primary {
    background-color: #8588D1 !important;
    border: none;
}

.moduleListText .text {
    /* line-height: 18px;*/
    line-height: 1;
    /*font-size: 17px;*/
    font-size: 1.5rem;
    font-weight: 500;
    font-family: "Gilroy", serif
}

.timeline-container .text {
    /* font-size: 19px;*/
    font-size: 1.5rem;
    font-weight: 500;
    font-family: "Gilroy", serif
}

.moduleListText .status {
    color: #9799C4;
    /* font-size: 11px;*/
    font-size: 1rem;
    padding-bottom: 8px;
    padding-top: 0px;
    font-weight: 500;
}

.module-summary {
    padding-left: 3px !important;
    padding: 13px 10px;


}


.timeline-container {
    position: relative;
    padding-left: 5px;
}

.lesson-title {
    /* font-size: 19px;*/
    font-size: 1.3rem;
    color: #494C90;
    font-family: "Gilroy", serif;
    font-weight: 300;

}

.timeline-item {
    position: relative;
}

.continue-btn {
    background-color: #2B31B4;
    width: 320px;
    max-width: 432px;
    height: 55px;

    align-content: center;
    /*box-shadow: 0 4px 12px rgba(133, 136, 209, 0.3);*/
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.continue-btn-text {
    color: #FFFFFF;
    text-align: center;
    font-family: "Accia Piano", serif;
    text-decoration: none;
    font-weight: 300;
    /* letter-spacing: 1px;*/
    /* font-weight:300; */
    /* font-size: 16px;*/
    font-size: 1.25rem;
    /* transition: all 0.25s ease-in-out;*/
}

.continue-btn-text:hover {
    color: #FFFFFF;
}

.continue-btn:hover {
    transform: translateY(-2px); /* Кнопка ніби піднімається */
    /*    box-shadow: 0 6px 15px rgba(133, 136, 209, 0.5);*/
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25);
    /* background-color: #7477c2 !important; */
}


/* Візуальна частина (ліворуч) */
.timeline-visual {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20px;
    flex-shrink: 0;
    align-self: stretch;
    margin-top: -2px;
}

/* Кружечок */
.timeline-dot {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid #2B31B4;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8px;
    margin-top: 6px;
    /* margin-top: 5px;*/
}

.timeline-dot.dot-completed {
    background-color: #2B31B4;
    border-color: #2B31B4;
    color: white;
}

.timeline-dot.dot-active {
    border-color: #2B31B4;
    box-shadow: 0 0 0 3px rgba(43, 49, 180, 0.15), 0 0 8px rgba(43, 49, 180, 0.2);
}

/* ВЕРТИКАЛЬНА ЛІНІЯ */
.timeline-connector {
    flex-grow: 1;
    width: 2px;
    background-color: #2B31B4;
    z-index: 1;
    margin-top: -10px;
    margin-bottom: -5px;
    /* margin-top: 2px;
    margin-bottom: 2px;*/
}

/* Прибираємо лінію під останнім кружечком */
.timeline-item:last-child .timeline-connector {
    display: none;
}


.timeline-content {

    border-bottom: none;
}

.lesson-title {
    font-size: 1rem;
    line-height: 1.4;
}


#progressContainer {
    margin-top: 0;
    padding-top: 10px;
    position: relative;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    box-sizing: border-box;
    padding-left: 0px;
    padding-right: 0px;
    background-image: none;
    background-color: #FFFFFF;

}

.progress-inner-content {
    padding: 7px 8px;
    background-color: #FFFFFF;
    height: auto;
    box-shadow: 0 0 20px 2px rgba(43, 49, 180, 0.15);
}

.progress-segments {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;

    height: auto;
    align-items: flex-end;
    padding-top: 30px;
}

.progress-segment-wrapper {
    flex: 1;
    position: relative;
    min-width: 20px;
}

/* Контейнер для лінії та фігурки */
/*.progress-timeline-container {
    padding-top: 20px;
    padding-bottom: 10px;
    margin-top: 8px;
}*/
/* --- Контейнер для СТАТУЇ --- */
.statue-avatar-container {
    position: absolute;
    top: -40px !important;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    z-index: 5;
}

.statue-img {
    height: 64px !important;
    display: block;
    margin: 0 auto;
}

.progress-segment-wrapper.mx-3 {

    margin-left: 6px;
    margin-right: 6px;
}


.progress-line {
    height: 8px;
    background-color: #9799C4;
    max-width: 150px;
    transition: all 0.3s ease;
    width: 100%;
}

.progress-timeline-container {
    position: relative;
    padding-top: 10px !important;
    padding-bottom: 20px;
}


.progress-segments {
    width: 100%;
}


.progress-line.is-completed {
    height: 18px;
    background-color: #8588D1;
}


.btn-last-lesson {
    background-color: #FFFFFF;
    /*width: 320px;*/
    align-content: center;
    height: 55px;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid #2B31B4;
    /*box-shadow: 0 4px 12px rgba(133, 136, 209, 0.3);*/
}

.btn-last-text {
    color: #2B31B4;
    text-align: center;
    font-family: "Accia Piano", serif;
    text-decoration: none;
    letter-spacing: 1px;
    /* font-weight:300; */
    /*font-size: 15px;*/
    font-size: 1.25rem;
}

hr.custom-line {
    border: 0;
    height: 1px;
    opacity: 1;
    background-color: #2B31B4 !important;
    margin: 25px 0px;
}

.small-text {
    font-size: 1.5rem;
}

@media (max-width: 768px) {
    #moduleList {
        max-width: 351px;
        padding: 20px 12px;
        top: 386px !important;
    }

    .small-text {
        margin-top: 10px;
    }

    .moduleListText .text {
        font-size: 1.25rem;
    }

    #block-progress {
        max-width: 351px;
        padding-bottom: 12px;
        padding-left: 0px;
        padding-right: 0px;
        height: 250px;
        /*   padding: 12px;*/
    }

    .btn-last-text {
        font-size: 1.15rem;
        font-weight: 350;
    }

    .btn-last-lesson {
        width: 327px;
        height: 48px;
    }

    .text-desc {
        font-size: 16px;
        line-height: 19px;
        width: 100%;
    }

    .module-item {
        flex-direction: column;
    }

    .status {
        margin-bottom: 12px;
        font-size: 13px;
        padding-bottom: 10px;
    }

    #moduleList .status {
        margin-bottom: 8px;
    }

    .text {
        font-size: 20px;
        line-height: 23px;
    }

    /* .module-summary.is-open {
         flex-direction: column !important;
         align-items: flex-start !important;
         padding-bottom: 5px;
     }
 
         .module-summary.is-open .art-frame-wrapper-mini {
             width: 320px;
             height: 176px;
             margin-bottom: 5px;
         }*/
    .module-image-inner-mini img {
        width: 95%;
        height: 95%;
    }

    .module-summary.is-open {
        flex-direction: column !important;
        /* Міняємо на center для мобілки */
        padding-bottom: 15px;
        align-items: flex-start !important;

    }

    .progress-timeline-container {
        padding-top: 25px !important;
    }

    .module-summary.is-open .art-frame-wrapper-mini {
        width: 100%; /* Контейнер на всю ширину */
        max-width: 320px; /* Обмежуємо розмір самої рамки */
        height: 176px;
        /* МАГІЯ ТУТ: автоматичні відступи зліва і справа вирівнюють блок по центру */
        margin-left: auto !important;
        margin-right: auto !important;
        margin-bottom: 15px;
        display: block;
        position: relative;
    }


    /*.module-summary.is-open .moduleListText {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;*/
    /* Текст теж стане по центру під картинкою */
    /*}*/
    /*.moduleListText {
        padding-right: 10px;
    }
    .arrow-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 15px;*/
    /* Відступ від тексту до стрілочки */
    /*min-width: 24px;*/
    /* Щоб стрілочка не "стрибала" */
    /*}
    .arrow-icon {*/
    /* Прибираємо можливі стандартні відступи іконок */
    /*line-height: 1;
        margin: 0;
    }*/
    .module-summary .ms-auto {
        display: flex !important;
        align-items: center !important; /* Центрує іконку по вертикалі */
        justify-content: center !important;
        min-height: 100%; /* Займає всю висоту заголовка */

        margin-bottom: 0 !important;
        margin-top: -30px !important;
    }

    .arrow-icon {
        display: inline-block;
        transition: transform 0.3s ease-in-out;
        transform-origin: center center; /* Повертаємо строго навколо центру */
        line-height: 1 !important; /* Прибираємо текстові відступи */
        height: auto;
        margin: 0 !important;
        color: #2B31B4;
        font-size: 18px;
    }

    .is-open .arrow-icon {
        /* Якщо стрілочка падає вниз, додаємо від'ємний Y */
        transform: rotate(180deg) translateY(3px);
    }

    .title {
        font-size: 1.4rem;
        padding-left: 10px;
    }

    .art-frame-wrapper-mini {
        width: 125px;
        height: 68px;
    }

    .continue-btn {
        width: 297px;
        height: 48px;
        margin-right: 8px;
    }

    .continue-btn-text {
        font-size: 1.15rem;
    }

    .lesson-title {
        font-size: 1rem;
    }

    /* Опціонально: робимо стрілочку в кутку, коли розгорнуто */
    /*.module-summary.is-open .bi-chevron-down {
        align-self: flex-end;
        margin-top: -20px;*/
    /* піднімаємо трохи вгору, якщо назва довга */
    /*}*/
}


@media (max-width: 1600px) {
    html {
        /* Тепер 1rem = 14px. 
           Ваш заголовок автоматично стане 28px (2 * 14), 
           а статус — 12.25px (0.875 * 14) */
        font-size: 14px;
    }
}